.form{
    width: 320px;
    height: 370px;
    border: solid black;
    padding-top: 25px;
    display: inline-block;
    margin-top: 30px;
    
}
.header{
    position: absolute;
    top: 20px;
    left: 115px;
    width: 149px;
    height: 26px;
    background-color: #01b3b3;
    /* margin-bottom: -20px;
    margin-left: 30px; */
}
.account-header{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-style: Arial;
    color: white;
    margin-top: 4px;
}
.form-header{
    font-size: 12px;
    font-weight: 700;
    font-style: Arial;
    color: black;   
}
.form-control{
    width: 260px;
    height: 30px;
}
.form-group{
    margin: 20px 30px;
}
.btn{
    width: 260px;
    height: 45px;
    margin: 5px 30px;
    background-color: #01b3b3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-style: Arial;
    color: white;
    text-align: center;
}