*{
    box-sizing: border-box;
}
.menu{
    background-color: #000;
    height: 45px;
    width: 100%;
    position: fixed;
    opacity: 85%;
    top: 0;
}

.news{
    position: absolute;
    left: 58%;
    height: 40px;
    width: 10%;;
    display: inline-block;
    text-align: center;
    padding: 5px 0px 0px 5px;
    margin-right: -4px;
}

.portfolio{
    position: absolute;
    left: 61%;
    height: 40px;
    width: 20%;
    display: inline-block;  
    text-align: center; 
    padding: 5px 0px 0px 5px;
    margin-right: -4px;
}

.about{
    position: absolute;
    left: 75%;
    height: 40px;
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 5px 0px 0px 5px;
    margin-right: -4px;
}

.contact{
    position: absolute;
    left: 80%;
    height: 40px;
    width: 15%;
    display: inline-block;
    text-align: center;
    padding: 5px 0px 0px 5px;
    margin-right: -4px;
}

.map{
    position: absolute;
    left: 90%;
    height: 40px;
    width: 8%;
    display: inline-block;
    text-align: center;
    padding: 5px 0px 0px 5px;
    margin-right: -4px;
}

.text{
    background-color: #849294;
    color: #000;
    margin-top: 50px;
}

.link{
    font-weight: bold; 
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
  }